<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Texto | Practica HTML-CSS</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
  <div class= "texto">
	  <h1> Hola a todos! </h1>
	  <p class="important"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ac dolor malesuada posuere. Suspendisse mollis accumsan pellentesque. Aliquam erat volutpat. Fusce tempus odio ut tortor feugiat elementum. Sed rutrum magna in odio sodales luctus. Quisque vitae quam eget mi condimentum ornare quis ut massa.
	  </p>
	  <h2> Subtitulo: </h2>
	  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ac dolor malesuada posuere. Suspendisse mollis accumsan pellentesque. Aliquam erat volutpat. Fusce tempus odio ut tortor feugiat elementum. Sed rutrum magna in odio sodales luctus. Quisque vitae quam eget mi condimentum ornare quis ut massa.
	  </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ac dolor malesuada posuere. Suspendisse mollis accumsan pellentesque. Aliquam erat volutpat. Fusce tempus odio ut tortor feugiat elementum. Sed rutrum magna in odio sodales luctus. Quisque vitae quam eget mi condimentum ornare quis ut massa.
	  </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ac dolor malesuada posuere. Suspendisse mollis accumsan pellentesque. Aliquam erat volutpat. Fusce tempus odio ut tortor feugiat elementum. Sed rutrum magna in odio sodales luctus. Quisque vitae quam eget mi condimentum ornare quis ut massa.
	  </p>
   </div>
   <p class="important"> Este parrafo tiene la clase "important" pero como no esta dentro de un elemento con la clase "texto" el estilo no se aplica.</p>
</body>
</html>
