body {
  background: url(../images/skulls.png) top left repeat;
}

header {
  height: 319px;
  background: #7a3a0d;
  background: url(../images/panorama.jpg) top center no-repeat;
  margin-bottom: 20px;
}

.nav-bar {
  text-transform: capitalize;
}

.nav-bar li {
  min-width: 80px;
}

.nav-bar li:hover {
  border: 1px solid grey;
}

.nav-bar li:first-child {
  border-bottom-left-radius: 8px;
}

.nav-bar li:last-child {
  border-bottom-right-radius: 8px;
}

main {
  min-height: 700px;
  display: inline-block;
  background-color: #AFE0FF;
  border-radius: 8px;
}

.search-form{
  background: #295ea4 url(../images/form-bg.png) top left repeat;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-form .form-group {
  margin: 10px 10px 10px 5px;
}

.articles {
  margin-bottom: 20px;
}

.articles article h3 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.articles h4 {
  text-transform: capitalize;
  font-size: 16px;
}

.articles img {
  max-height: 180px;
}

.articles .travel-details {

}

.articles .well {
  margin: 10px;
}

footer {
  background: black url(../images/footer_lodyas.png) top left repeat;
}
