body {
  background: url(../images/skulls.png) top left repeat;
}

header {
  height: 319px;
  background: #7a3a0d;
  background: url(../images/panorama.jpg) top center no-repeat;
  margin-bottom: 10px;
}

.nav-bar {
  text-transform: capitalize;
}

.nav-bar li {
  width: 107px;
}
//Restarle 2px al width de las li si borras el borde de 1px
.nav-bar li:hover {
  border: 1px solid grey;
}

.nav-bar li:first-child {
  border-bottom-left-radius: 8px;
}

.nav-bar li:last-child {
  border-bottom-right-radius: 8px;
}

main {
  min-height: 700px;
  display: inline-block;
  background-color: #AFE0FF;
  border-radius: 8px;
  margin: 10px 0;
}

.search-form{
  background: #295ea4 url(../images/form-bg.png) top left repeat;
  border-radius: 8px;
  margin: 10px 0;
}

.search-form .form-group {
  margin: 10px 10px 10px 5px;
}

.articles {
  margin: 10px 5px;
}

.offers h4 {
  text-transform: capitalize;
  font-size: 16px;
}

.offers .panel-heading h3 {
  display: inline-block;
  font-size: 18px;
}

.offers .well {
  margin: 10px;
}

#offers-refresh {
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: black url(../images/footer_lodyas.png) top left repeat;
  color: white;
  margin-top:10px;
  padding: 20px;
}

footer .address {
}

footer .links ul {
  list-style: none;
}

footer .links a {
  color:#4eb7d9;
}
